<body style="background-color: powderblue;">
  <!-- Defines page nav function acting as a container -->
  <nav class="navbar bg-body-tertiary rounded-3 first-content shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="row">
      <div class="col-md" id="About">
          <h1 class="header-1">Choose one of the following options:</h1>
      </div>
      <p class="para-1"><a class="btn btn-primary shadow link-to-cs" href="/survey" role="button" style="font-size: 20px; background-color:#006633;">Student Survey</a></p>
      <p class="para-1"><a class="btn btn-primary shadow link-to-cs" href="/survey-list" role="button" style="font-size: 20px; background-color:#006633;">List All Surveys</a></p>
    </div>
  </nav>
</body>
