<!--<nav class="navbar bg-body-tertiary rounded-3 first-content shadow p-3 mb-5 bg-body-tertiary rounded">-->
<form (ngSubmit)="submitForm()" class="survey-form  bg-body-tertiary rounded-3 first-content shadow p-3 mb-5 bg-body-tertiary rounded">
  <h2 style="padding-bottom: 5px;">Survey Form</h2>
    <!-- Defines the first row -->
    <div class="row">
      <!-- First Name Info -->
      <div class="mb-3 col">
        <label for="name" class="form-label required" aria-required="true">First Name</label>
        <input type="given-name" class="form-control" placeholder="Jane" autocomplete="given-name" onblur="checkFirstName()" id="firstName" required [(ngModel)]='firstName'>
      </div>
      <!-- Last Name Info -->
      <div class="mb-3 col">
        <label for="name" class="form-label required" aria-required="true">Last Name</label>
        <input type="family-name" class="form-control" placeholder="Doe" autocomplete="family-name" onblur="checkLastName()" id="lastName" required [(ngModel)]='lastName'>
      </div>
      <!-- Email Address Info -->
      <div class="mb-3 col">
        <label for="exampleInputEmail1" class="form-label required">Email address</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="example@gmail.com" onblur="checkEmail()" id="email" required [(ngModel)]="email">
      </div>
      <!-- Date Info -->
      <div class="mb-3 col">
        <label for="Data" class="form-label required">Date</label>
        <input type="date" placeholder="mm/dd/yyyy" class="form-control" id="date" required [(ngModel)]="date">
      </div>
      <!-- Zip Code Info -->
      <div class="mb-3 col">
        <label class="form-label required" >Zip Code</label>
        <input type="zip" class="form-control" aria-required="true" onblur="getCityAndState()" id="zip" [(ngModel)]="zip">
      </div>
    </div>

    <!-- Defines the second row -->
    <div class="row">
      <!-- City Info -->
      <div class="mb-3 col">
        <label for="City" class="form-label required" >City</label>
        <input type="city" class="form-control" aria-required="true" id="city" [(ngModel)]="city">
      </div>
       <!-- State Info -->
      <div class="mb-3 col">
        <!-- State Info -->
        <div class="mb-3 col">
          <label for="State" class="form-label required" >State</label>
          <input type="state" class="form-control" aria-required="true" id="state" [(ngModel)]="state">
        </div>
        
      </div>
      <!-- Telephone Number Info -->
      <div class="mb-3 col">
        <label for="Telephone" class="form-label required" >Telephone</label>
        <input type="number" class="form-control" placeholder="0000000000" aria-required="true" id="telephone" [(ngModel)]="telephone">
      </div>
    </div>

    <!-- Defines Third Row -->
    <div class="row">
      <!-- Street Address Info -->
      <div class="mb-3 col">
        <label class="form-label required" aria-required="true">Street Address</label>
        <input type="address" class="form-control" onblur="checkAddress()" id="streetAddress" [(ngModel)]='streetAddress'>
      </div>
    </div>
    <!-- Defines three of the questions -->
    <div class="row" style="margin-left: 10px;">
    <div class="col">
      <label>
        1. What did you like the most about the campus?
      </label>
      <!-- Defines the use fo check boxes using these selection choices -->
      <div class="form-check" style="margin-top: 10px">
        <label>
          <input type="checkbox" name="likedMost" value="students" [(ngModel)]="likedStudents"> Students
        </label>
      </div>
      <div class="form-check">
        <label>
          <input type="checkbox" name="likedMost" value="location" [(ngModel)]="likedLocation"> Location
        </label>
      </div>
      <div class="form-check">
        <label>
          <input type="checkbox" name="likedMost" value="campus" [(ngModel)]="likedCampus"> Campus
        </label>
      </div>
      <div class="form-check">
        <label>
          <input type="checkbox" name="likedMost" value="atmosphere" [(ngModel)]="likedAtmosphere"> Atmosphere
        </label>
      </div>
      <div class="form-check">
        <label>
          <input type="checkbox" name="likedMost" value="dormRooms" [(ngModel)]="likedDormRooms"> Dorm Rooms
        </label>
      </div>
      <div class="form-check">
        <label>
          <input type="checkbox" name="likedMost" value="sports" [(ngModel)]="likedSports"> Sports
        </label>
      </div>
    </div>
    <div class="col">
      <label>
        2. How did you become interested in GMU?
      <!-- Defines the use of radio buttons -->
      </label>
      <div class="form-check" style="margin-top: 10px">
        <label>
          <input type="radio" name="hearAbout" value="friends" [(ngModel)]="hearAbout"> Friends
        </label>
      </div>
      <div class="form-check">
        <label>
          <input type="radio" name="hearAbout" value="tv" [(ngModel)]="hearAbout"> Television
        </label>
      </div>
      <div class="form-check">
        <label>
          <input type="radio" name="hearAbout" value="internet" [(ngModel)]="hearAbout"> Internet
        </label>
      </div>
      <div class="form-check">
        <label>
        <input type="radio" name="hearAbout" value="other" [(ngModel)]="hearAbout"> Other
      </label>
      </div>
    </div>
    <div class="col">
      <div aria-required="true">
        3. Liklihood of Recommending GMU to others?
        <!-- Defines the use of a dropdown menu -->
      </div>
      <div class="dropdown">
        <select class="btn btn-secondary dropdown-toggle OutlineText" style="margin-top: 20px; background-color: #FFCC33;" name="recommendation" [(ngModel)]="recommendation">
          <option value="veryLikely">Very Likely</option>
          <option value="likely">Likely</option>
          <option value="unlikely">Unlikely</option>
          <option selected = "selected">Select An Option</option>
        </select>
      </div>
        
    </div>
    </div>
    <div class="row" style="margin-top: 20px;">

      <!-- Defines the use of a datalist -->
    
      <div class="mb-3 col">
          <label for="comments" class="form-label">Any Additional Comments:</label>
      </div>
      <textarea name="comments" id="comments" [(ngModel)]="comments" style="resize:vertical; padding-bottom: 10px;" ></textarea>
      
     
    </div>
    <div class="row" style="padding-top: 20px;">
      <div class="col">
        <input id="submit" type="button" class="btn btn-primary OutlineText" style="background-color: #FFCC33; font-size: 20px;" value="Submit" onclick="validateForm()">

        <!-- This is the reset button -->
        <input style="margin-left: 5px;" type="reset" value="Reset">
      </div>
      <div class="col" style="text-align: right;">
        <p class="para-1"><a class="btn btn-primary shadow link-to-cs" href="/" role="button" style="font-size: 20px; background-color:red;">Cancel</a></p>
      </div>
    </div>
  </form>
<!--</nav>-->
