<!--/*-->
<!--Team:-->
<!--Janit Bidhan-->
<!--Rosy Sultana-->
<!--Brenda Henriquez-->
<!--Uday Kumar Kamalapuram-->
<!--Description: SURVEY COMPONENT.-->
<!--*/-->
<head>
  <!-- Name of web page -->
  <title>Survey</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <!-- Link to Bootstrap CSS-->
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">
</head>
<body style="background-color: powderblue;">
<!-- Defines Header Banner of the Page -->
<div style="background: #FFCC33; height: fit-content;"><h1 style="font-family: cursive;
    size: 10px;
    text-align: center;
    padding-top: 10px;">CAMPUS SURVEY</h1></div>

<!-- Page Container for the Form and Enables Autocomplete-->
<nav class="navbar bg-body-tertiary rounded-3 first-content shadow p-3 mb-5 bg-body-tertiary rounded"
     style="width: 80%;margin: 0 auto;">
  <form #surveyForm="ngForm" (ngSubmit)="submitForm()" autocomplete="on" class="survey-form" style="margin-left: 40px;">
    <!-- Defines the first row -->
    <div class="row">

      <!-- First Name Info -->
      <div class="mb-3 col">
        <label class="form-label required" for="firstName">First Name:</label>
        <input [(ngModel)]="formData.firstName" autocomplete="given-name" class="form-control" id="firstName" name="firstName"
               placeholder="Jane" required type="text">
      </div>

      <!-- Last Name Info -->
      <div class="mb-3 col">
        <label class="form-label required" for="lastName">Last Name:</label>
        <input [(ngModel)]="formData.lastName" autocomplete="family-name" class="form-control" id="lastName" name="lastName"
               placeholder="Doe" required type="text">
      </div>

      <!-- Email Address Info -->
      <div class="mb-3 col">
        <label class="form-label required" for="email">Email:</label>
        <input [(ngModel)]="formData.email" class="form-control" id="email" name="email" placeholder="example@gmail.com"
               required type="email">
      </div>

      <!-- Date Info -->
      <div class="mb-3 col">
        <label class="form-label required" for="dateOfSurvey">Date of Survey:</label>
        <input [(ngModel)]="formData.dateOfSurvey" class="form-control" id="dateOfSurvey" name="dateOfSurvey" placeholder="mm/dd/yyyy"
               required type="datetime-local">
      </div>

      <!-- City Info -->
      <div class="mb-3 col">
        <label class="form-label required" for="city">City:</label>
        <input [(ngModel)]="formData.city" class="form-control" id="city" name="city" required type="text">
      </div>

      <!-- State Info -->
      <div class="mb-3 col">
        <label class="form-label required" for="state">State:</label>
        <input [(ngModel)]="formData.state" class="form-control" id="state" name="state" required type="text">
      </div>

    </div>

    <!-- Defines the second row -->
    <div class="row">

      <!-- Street Address Info -->
      <div class="mb-3 col">
        <label class="form-label required" for="streetAddress">Street Address:</label>
        <input [(ngModel)]="formData.streetAddress" class="form-control" id="streetAddress" name="streetAddress"
               required type="text">
      </div>

      <!-- Zip Code Info -->
      <div class="mb-3 col">
        <label class="form-label required" for="zip">Zip Code:</label>
        <input [(ngModel)]="formData.zip" class="form-control" id="zip" name="zip" required type="text">
      </div>

      <!-- Telephone Number Info -->
      <div class="mb-3 col">
        <label class="form-label required" for="telephoneNumber">Telephone Number:</label>
        <input [(ngModel)]="formData.telephoneNumber" class="form-control" id="telephoneNumber" name="telephoneNumber" placeholder="000-000-0000"
               required type="text">
      </div>

    </div>


    <!-- Defines three of the questions -->
    <div class="row" style="font-weight: bold; margin: 10px;"> Please answer of the choices:</div>
    <div class="row" style="margin-left: 10px;">
      <div class="col">

        <label>
          1. What did you like the most about the campus?
        </label>
        <!-- Defines the use fo check boxes using these selection choices -->
        <!-- Student -->
        <div class="form-check" style="margin-top: 10px">
          <label for="likedOptions_students">
            <input [(ngModel)]="formData.likedOptions_students" id="likedOptions_students" name="likedOptions[students]"
                   type="checkbox">
            Students
          </label>
        </div>
        <!-- Location -->
        <div class="form-check">
          <label for="likedOptions_location">
            <input [(ngModel)]="formData.likedOptions_location" id="likedOptions_location" name="likedOptions[location]"
                   type="checkbox">
            Location
          </label>
        </div>

        <!-- Campus -->
        <div class="form-check">
          <label for="likedOptions_campus">
            <input [(ngModel)]="formData.likedOptions_campus" id="likedOptions_campus" name="likedOptions[campus]"
                   type="checkbox">
            Campus
          </label>
        </div>

        <!-- Atmosphere -->
        <div class="form-check">
          <label for="likedOptions_atmosphere">
            <input [(ngModel)]="formData.likedOptions_atmosphere" id="likedOptions_atmosphere" name="likedOptions[atmosphere]"
                   type="checkbox">
            Atmosphere
          </label>
        </div>

        <!-- Dorm Rooms -->
        <div class="form-check">
          <label for="likedOptions_dormRooms">
            <input [(ngModel)]="formData.likedOptions_dormRooms" id="likedOptions_dormRooms" name="likedOptions[dormRooms]"
                   type="checkbox">
            Dorm Rooms
          </label>
        </div>

        <!-- Sports -->
        <div class="form-check">
          <label for="likedOptions_sports">
            <input [(ngModel)]="formData.likedOptions_sports" id="likedOptions_sports" name="likedOptions[sports]"
                   type="checkbox">
            Sports
          </label>
        </div>

      </div>

      <div class="col">
        <label>
          2. How did you become interested in GMU?
        </label>

        <!-- Friends -->
        <div class="form-check" style="margin-top: 10px">
          <label>
            <input [(ngModel)]="formData.interestedSource" name="interestedSource" type="radio" value="friends">
            Friends
          </label>
        </div>

        <!-- Television -->
        <div class="form-check">
          <label>
            <input [(ngModel)]="formData.interestedSource" name="interestedSource" type="radio" value="television">
            Television
          </label>
        </div>

        <!-- Internet -->
        <div class="form-check">
          <label>
            <input [(ngModel)]="formData.interestedSource" name="interestedSource" type="radio" value="internet">
            Internet
          </label>
        </div>


        <!-- Other -->
        <div class="form-check">
          <label>
            <input [(ngModel)]="formData.interestedSource" name="interestedSource" type="radio" value="other">
            Other
          </label>
        </div>
      </div>


      <div class="col">
        <label for="recommend">
          3. Liklihood of Recommending GMU to others?
        </label>
        <div class="dropdown">
          <select [(ngModel)]="formData.recommend" class="btn btn-secondary dropdown-toggle OutlineText" id="recommend" name="recommend"
                  style="margin-top: 20px; background-color: #FFCC33;"
                  value="Select">
            <option disabled selected="selected" value="Select">Select an option</option>
            <option value="Very Likely">Very Likely</option>
            <option value="Likely">Likely</option>
            <option value="Unlikely">Unlikely</option>
          </select>
        </div>

      </div>
    </div>

    <div class="row" style="margin-top: 20px;">

      <!-- Defines the use of a datalist -->
      <div class="mb-3 col">
        <label class="form-label" for="additionalComments">Additional Comments:</label>
      </div>
      <textarea [(ngModel)]="formData.additionalComments" id="additionalComments" name="additionalComments"
                style="resize:vertical; padding-bottom: 10px;"></textarea>
    </div>


    <div class="row" style="padding-top: 20px;">
      <div class="col">
        <input class="btn btn-primary OutlineText" id="submit" style="background-color: #FFCC33; font-size: 20px;"
               type="submit" value="Submit">

        <!-- This is the reset button -->
        <input style="margin-left: 5px;" type="reset" value="Reset">
      </div>
      <div class="col" style="text-align: right;">
        <p class="para-1"><a class="btn btn-primary shadow link-to-cs" href="/" role="button"
                             style="font-size: 20px; background-color:red;">Cancel</a></p>
      </div>
    </div>
  </form>
</nav>
</body>
