<head>
  <!-- Name of web page -->
  <title>Survey</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Link to Bootstrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body style="background-color: powderblue;">
  <!-- Defines Header Banner of the Page -->
  <div style="background: #FFCC33; height: fit-content;"><h1 style="font-family: cursive;
    size: 10px;
    text-align: center;
    padding-top: 10px;">CAMPUS SURVEY</h1></div>

  <!-- Page Container for the Form and Enables Autocomplete-->
  <nav style="width: 80%;margin: 0 auto;" class="navbar bg-body-tertiary rounded-3 first-content shadow p-3 mb-5 bg-body-tertiary rounded">
    <form class="survey-form" (ngSubmit)="submitForm()" #surveyForm="ngForm" autocomplete="on" style="margin-left: 40px;">
      <!-- Defines the first row -->
      <div class="row">

        <!-- First Name Info -->
        <div class="mb-3 col">
          <label for="firstName" class="form-label required" >First Name:</label>
          <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Jane" autocomplete="given-name" [(ngModel)]="formData.firstName" required>
        </div>

        <!-- Last Name Info -->
        <div class="mb-3 col">
          <label for="lastName" class="form-label required">Last Name:</label>
          <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Doe" autocomplete="family-name" [(ngModel)]="formData.lastName" required>
        </div>

        <!-- Email Address Info -->
        <div class="mb-3 col">
          <label for="email" class="form-label required">Email:</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="example@gmail.com" [(ngModel)]="formData.email" required>
        </div>

        <!-- Date Info -->
        <div class="mb-3 col">
          <label for="dateOfSurvey" class="form-label required">Date of Survey:</label>
          <input type="datetime-local" id="dateOfSurvey" name="dateOfSurvey" [(ngModel)]="formData.dateOfSurvey" required class="form-control" placeholder="mm/dd/yyyy" >
        </div>

        <!-- City Info -->
        <div class="mb-3 col">
          <label for="city" class="form-label required">City:</label>
          <input type="text" id="city" name="city" class="form-control" [(ngModel)]="formData.city" required>
        </div>

        <!-- State Info -->
        <div class="mb-3 col">
          <label for="state" class="form-label required">State:</label>
          <input type="text" id="state" class="form-control" name="state" [(ngModel)]="formData.state" required>
        </div>

      </div>

        <!-- Defines the second row -->
      <div class="row">

            <!-- Street Address Info -->
          <div class="mb-3 col">
            <label for="streetAddress" class="form-label required">Street Address:</label>
            <input type="text" id="streetAddress" name="streetAddress" class="form-control" [(ngModel)]="formData.streetAddress" required>
          </div>

          <!-- Zip Code Info -->
          <div class="mb-3 col">
            <label for="zip" class="form-label required">Zip Code:</label>
            <input type="text" id="zip" name="zip" class="form-control" [(ngModel)]="formData.zip" required>
          </div>

          <!-- Telephone Number Info -->
          <div class="mb-3 col">
            <label for="telephoneNumber" class="form-label required">Telephone Number:</label>
            <input type="text" id="telephoneNumber" name="telephoneNumber" class="form-control" placeholder="000-000-0000"[(ngModel)]="formData.telephoneNumber" required>
          </div>

      </div>


      <!-- Defines three of the questions -->
      <div class="row" style="margin-left: 10px;">

        <div class="col">

          <label>
            1. What did you like the most about the campus?
          </label>
            <!-- Defines the use fo check boxes using these selection choices -->
            <!-- Student -->
            <div class="form-check" style="margin-top: 10px">
              <label  for="likedOptions_students">
                <input type="checkbox" id="likedOptions_students" name="likedOptions[students]" [(ngModel)]="formData.likedOptions_students">
                Students
              </label>
            </div>
            <!-- Location -->
          <div class="form-check">
            <label for="likedOptions_location">
              <input type="checkbox" id="likedOptions_location" name="likedOptions[location]" [(ngModel)]="formData.likedOptions_location">
               Location
            </label>
          </div>

          <!-- Campus -->
          <div class="form-check">
            <label for="likedOptions_campus">
              <input type="checkbox" id="likedOptions_campus" name="likedOptions[campus]" [(ngModel)]="formData.likedOptions_campus">
               Campus
            </label>
          </div>

          <!-- Atmosphere -->
          <div class="form-check">
            <label for="likedOptions_atmosphere">
              <input type="checkbox" id="likedOptions_atmosphere" name="likedOptions[atmosphere]" [(ngModel)]="formData.likedOptions_atmosphere">
               Atmosphere
            </label>
          </div>

          <!-- Dorm Rooms -->
          <div class="form-check">
            <label for="likedOptions_dormRooms">
              <input type="checkbox" id="likedOptions_dormRooms" name="likedOptions[dormRooms]" [(ngModel)]="formData.likedOptions_dormRooms">
               Dorm Rooms
            </label>
          </div>

          <!-- Sports -->
          <div class="form-check">
            <label for="likedOptions_sports">
              <input type="checkbox" id="likedOptions_sports" name="likedOptions[sports]" [(ngModel)]="formData.likedOptions_sports">
              Sports
            </label>
          </div>

        </div>

      <div class="col">
          <label>
            2. How did you become interested in GMU?
          </label>

          <!-- Friends -->
          <div class="form-check" style="margin-top: 10px">
            <label for="interestedSource_friends">
              <input type="radio" id="interestedSource_friends" name="interestedSource" value="friends" [(ngModel)]="formData.interestedSource_friends">
              Friends
            </label>
          </div>

          <!-- Television -->
          <div class="form-check">
            <label for="interestedSource_television">
              <input type="radio" id="interestedSource_television" name="interestedSource" value="television" [(ngModel)]="formData.interestedSource_television">
              Television
            </label>
          </div>

          <!-- Internet -->
          <div class="form-check">
            <label for="interestedSource_internet">
              <input type="radio" id="interestedSource_internet" name="interestedSource" value="internet" [(ngModel)]="formData.interestedSource_internet">
              Internet
            </label>
          </div>


          <!-- Other -->
          <div class="form-check">
            <label for="interestedSource_other">
              <input type="radio" id="interestedSource_other" name="interestedSource" value="other" [(ngModel)]="formData.interestedSource_other">
              Other
            </label>
          </div>
      </div>


      <div class="col">
        <label for="recommend">
          3. Liklihood of Recommending GMU to others?
        </label>
        <div class="dropdown">
          <select id="recommend" name="recommend" [(ngModel)]="formData.recommend" class="btn btn-secondary dropdown-toggle OutlineText" style="margin-top: 20px; background-color: #FFCC33;" >
            <option value="" disabled selected>Select an option</option>
            <option value="Very Likely">Very Likely</option>
            <option value="Likely">Likely</option>
            <option value="Unlikely">Unlikely</option>
          </select>
        </div>

      </div>
    </div>

    <div class="row" style="margin-top: 20px;">

      <!-- Defines the use of a datalist -->
      <div class="mb-3 col">
        <label for="additionalComments" class="form-label">Additional Comments:</label>
        </div>
        <textarea id="additionalComments" name="additionalComments" style="resize:vertical; padding-bottom: 10px;" [(ngModel)]="formData.additionalComments"></textarea>
      </div>


    <div class="row" style="padding-top: 20px;">
      <div class="col">
        <input id="submit" type="submit" class="btn btn-primary OutlineText" style="background-color: #FFCC33; font-size: 20px;" value="Submit">

        <!-- This is the reset button -->
        <input style="margin-left: 5px;" type="reset" value="Reset">
      </div>
      <div class="col" style="text-align: right;">
        <p class="para-1"><a class="btn btn-primary shadow link-to-cs" href="/" role="button" style="font-size: 20px; background-color:red;">Cancel</a></p>
      </div>
    </div>
  </form>
  </nav>
</body>
